<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Blade & Soul</title>
      <link rel="icon" href="images/favicon.png" type="image/png">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/navbar.css">
      <link rel="stylesheet" href="css/profile.css">
      <link rel="stylesheet" href="css/all.min.css">
      <!-- Подключение Font Awesome -->
   </head>
   <body id="profile-page" class="d-flex flex-column min-vh-100">
      <!-- Навигационное меню -->
      <%- include('partials/navbar') %>
      <div class="container">
         <!-- Profile Card -->
         <div class="profile-card card mb-4">
            <div class="card-header username-header text-center">
               <h3></i> <%= UserName %></h3>
            </div>
            <div class="card-body text-center">
               <img src="/images/avatar/user-avatar.jpg" alt="User Avatar" class="img-fluid">
               <p class="mt-3">Email: <%= LoginName %></p>
               <p>Created: <%= Created %></p>
            </div>
         </div>
         <!-- Table Container -->
         <div class="table-container">
            <!-- Character Information -->
            <div class="accordion" id="characterAccordion">
   <% if (creatures && creatures.length > 0) { %>
   <% creatures.forEach((creature, index) => { %>
      <% if (creature.deletion !== 1) { %> <!-- Проверяем, не удалён ли персонаж -->
      <div class="accordion-item mb-3">
         <h2 class="accordion-header" id="heading<%= index %>">
            <button class="accordion-button <%= creature.jobClass %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
               <img src="<%= creature.jobImageUrl %>" alt="Job Image" class="job-image">
               Character: <%= creature.name %>
            </button>
         </h2>
         <div id="collapse<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading<%= index %>" data-bs-parent="#characterAccordion">
            <div class="accordion-body">
               <table class="table">
                  <tbody>
                     <tr>
                        <th scope="row">Race</th>
                        <td class="image-text-container">
                           <img src="<%= creature.raceImageUrl %>" alt="<%= creature.race %> Image" class="image-small">
                           <span><%= creature.race %></span>
                        </td>
                     </tr>
                     <tr>
                        <th scope="row">Sex</th>
                        <td class="image-text-container">
                           <img src="<%= creature.sexImageUrl %>" alt="<%= creature.sex %> Image" class="image-small">
                           <span><%= creature.sex %></span>
                        </td>
                     </tr>
                     <tr>
                        <th scope="row">Job</th>
                        <td class="image-text-container">
                           <img src="<%= creature.jobImageUrl %>" alt="<%= creature.job %> Image" class="image-small">
                           <span><%= creature.job %></span>
                        </td>
                     </tr>
                     <tr>
                        <th scope="row">Level Account</th>
                        <td><%= accountExp %></td>
                     </tr>
                     <tr>
                        <th scope="row">Level</th>
                        <td><%= creature.level %></td>
                     </tr>
                     <tr>
                        <th scope="row">Mastery Level</th>
                        <td><%= creature.mastery_level %></td>
                     </tr>
                     <tr>
                        <th scope="row">Faction</th>
                        <td class="image-text-container">
                           <img src="<%= creature.factionImageUrl %>" alt="<%= creature.faction %> Image" class="image-small">
                           <span><%= creature.faction %></span>
                        </td>
                     </tr>
                     <tr>
                        <th scope="row">Money</th>
                        <td>
                           <img src="/images/money/gold.png" alt="Gold" style="width: 20px; height: 20px; vertical-align: middle;"> <%= creature.money.gold %> 
                           &nbsp; <!-- Добавляет пробел -->
                           <img src="/images/money/silver.png" alt="Silver" style="width: 20px; height: 20px; vertical-align: middle;"> <%= creature.money.silver %> 
                           &nbsp; <!-- Добавляет пробел -->
                           <img src="/images/money/copper.png" alt="Copper" style="width: 20px; height: 20px; vertical-align: middle;"> <%= creature.money.copper %> 
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      <% } %> <!-- Конец проверки на удаление -->
   <% }) %>
   <% } else { %>
   <div class="alert alert-warning" role="alert">
      Characters not found. Please create a character in the game to view the statistics.
   </div>
   <% } %>
</div>

            <!-- Deposit Information -->
            <% if (deposits && deposits.length > 0) { %>
            <div class="card mb-4">
               <div class="card-header deposit-header">
                  <h5><i class="fas fa-wallet icon"></i> Deposit Information</h5>
               </div>
               <div class="card-body">
                  <table class="table">
                     <thead>
                        <tr>
                           <th scope="col">Total Amount</th>
                           <th scope="col">Total Balance</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <%= totalAmount %>  <img src="/images/money/NCoin.webp" alt="B&SCoin" style="width: 24px; height: 24px; margin-right: 5px;"> Hangmoon Coins
                           </td>
                           <td><%= totalBalance %>  <img src="/images/money/NCoin.webp" alt="B&SCoin" style="width: 24px; height: 24px; margin-right: 5px;"> Hangmoon Coins</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <% } else { %>
            <div class="alert alert-danger" role="alert">
               Player's account balance data not found.
            </div>
            <% } %>
         </div>
      </div>
      <!-- Footer -->
      <footer class="custom-footer text-light text-center py-3">
         <p class="mb-0">&copy; 2024 Blade & Soul: Private Server</p>
         <p class="mb-0">All rights reserved.</p>
      </footer>
      <!-- Include Modals -->
      <%- include('partials/signupModal') %>
      <%- include('partials/signinModal') %>
      <!-- Bootstrap JS and dependencies -->
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/all.min.js"></script>
      <script src="js/navbar.js"></script>
   </body>
</html>